# Sanal ortam klasörleri
venv/
.venv/

# Python bytecode dosyaları
__pycache__/
*.py[cod]
*$py.class

# IDE/editor ayar klasörleri
.vscode/
.idea/

# Log ve geçici dosyalar
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# Jupyter notebook checkpoint dosyaları
.ipynb_checkpoints/

# Çevresel dosyalar
.env


#büyük dosyalar
# .gitignore
data/processed/tfidf_lemmatized.csv
data/processed/tfidf_stemmed.csv

